$white: hsl(0, 0%, 97%);
$grey: hsl(0, 0%, 60%);
$black: hsl(0, 0%, 10%);
$accent-dark: #009b0f;
$accent: #00d95e;
$accent-light: #c0f2c9;
$secondary-dark: #d9007b;
$secondary: #ea3b95;
$secondary-light: #f4bbdb;
