.product {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px hsla(0, 0%, 10%, 0.53);
  padding: 0.4rem 0.8rem;
  min-width: 200px;
  cursor: default;

  .fa-times {
    color: hsl(0, 80%, 45%);
    cursor: pointer;
    padding: 2px;
    box-sizing: border-box;
  }

  .product-line {
    display: flex;
    margin: 0 0 0.8em;
    align-items: baseline;
    justify-content: space-between;

    &::last-child {
      margin: 0;
    }
  }

  .product-name {
    font-family: "Montserrat", "Lato", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    cursor: text;
  }
  .product-body {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    margin: 0.5em 0 0 0;

    .body-value {
      font-family: inherit;
      margin: 0 0 0 1em;
      line-height: 1em;
      padding: 0 0 0.3em 0;
      border: 0;
      border-bottom: 1px solid hsl(0, 0%, 87%);
      text-align: right;
      flex: 1;

      &:focus {
        border-bottom-color: hsl(205, 50%, 60%);
      }
    }
  }
}
